<div class="container">
      <div class="row">
 
       <div *ngFor ="let pokemon of pokemonList"  class="col m4 s6">
             <div  (click)= "pokemonDetails(pokemon)" class="card horizontal" appBorderCard ="red" >
                
                   <div class="card-image">
                         <img [src]= "pokemon.picture" alt="">
                   </div>
                   <div class="card-stacked">
                   <div class="card-content">
                        <p>{{pokemon.name}}</p> 
                        <p><small>{{pokemon.created| date: "dd/MM/yy"}}</small></p>
                        <span *ngFor=" let type of pokemon.types"class = "{{type| pokemonTypeColor}}" >{{type}} </span>
                   </div>
             </div>
             </div>
             
       </div>
      </div>
 
       </div>
            
           <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
